@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('/fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes Medium";
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('/fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.borderbox {
    width: 320px;
    box-shadow: 15px 0 50px rgba(14, 24, 80, 0.2);
}
.header {
    width: 100%;
}

.header_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 90px;
    max-width: 320px;
    padding: 18px 24px 0px 18px;
}

.header-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.header-menu__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: center;
}
/*Нужны ховер эффекты на кнопках*/
.header-menu__button:hover {
    border:3px solid #41F6D7;
    opacity: 0.6;
}

.header-menu__button_logo {
    width: 96px;
    height: 50px;
}
/*В кнопках красный круглишок нужно сделать через чистый цсс, картинка должна быть бэкграундом. Назначать через модификатор*/
.header-menu__button_burger {
    background-image: url(/img/uppermenu/bg-burger2.png);
    background-size: 16px;
}

.header-menu__button_found{
    background-image: url(/img/uppermenu/found.png);
    background-size: 17.06px;
}

.header-menu__button_call{
    background-image: url(/img/uppermenu/bg-call.png);
    background-size: 17.96px;
}

.header-menu__button_chat{

    background-image: url(/img/uppermenu/bg-chat.png);
    background-size: 20px;
}

.header-menu__button_profile {
    background-image: url(/img/uppermenu/bg-profile.png);
    background-size: 20px 18px;
}

.nav-list {
    padding-top: 46px;
    padding-left: 24px;
}

.nav-list__sheet {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-left: -24px;
}

.nav-list__link {
    display: flex; /*Ссылку нужно растягивать на всю ширину меню, что бы можно было проще нажимать на нее*/
    flex-grow: 1;
    font-family: "TT Lakes Medium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding-left: 24px;
    color: #1B1C21;
    transition: 0.7s linear;
}

.nav-list__item {
    padding-top: 7px;
    padding-bottom: 7px;
}

.nav-list__link:hover {
    color: #7E7E82;
}

.nav-list__item:hover {
    content: "";
    width: 4px;
    background-color: #41F6D7;
    border-radius: 0px 10px 10px 0px;
    white-space: nowrap;
}

.nav-list__icon-menu {
    display: flex;
    flex-direction: row;
    gap: 37px;
    padding-left: 24px;
    padding-top: 300px;
    padding-bottom: 16px;
}

.main-contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 24px;
}

.main-contact__email {
    font-family: "TT Lakes Medium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.main-contact__tel {
    font-family: "TT Lakes";
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}

.main-contact__list {
    display: flex;
    gap: 7px;
    margin-bottom: 20px;
}
/*языки это интерактивные элементы. лучше всего сюда подойдет радиобуттон, так как язык может быть выбран только один*/
.main-contact__item {
	display: inline-block;
	margin-right: 10px;
}
.main-contact__item input[type=radio] {
	display: none;
}
.main-contact__item label {
	display: inline-block;
	cursor: pointer;
    font-family: "TT Lakes Medium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
	user-select: none;
}
.main-contact__item input[type=radio]:checked + label {
	color: #7E7E82;
}